.layout {
  .nivel-1 {
    $font-size: 1rem !important;

    p { font-size: $font-size; }

    ::ng-deep .progress-bar {
      font-size: $font-size;
    }
  }

  .nivel-2 {
     $font-size: 1.1rem !important;

    p { font-size: $font-size; }

    ::ng-deep .progress-bar {
      font-size: $font-size;
    }
  }

  .nivel-3 {
     $font-size: 1.5rem !important;

    p { font-size: $font-size; }

    ::ng-deep .progress-bar {
      font-size: $font-size;
    }
  }
}
